Repository asears/thething, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, devops, tests, docs

.github/labeler.yml:

# GitHub Labeler Action Config

repo:
- '*'

'devops':
- .github/**

tests:
- tests/**

docs:
- tests/**

split lines, activate venv
  .github/workflows/rag-runner.yml
Labels: devops

more uv goodness
  .github/workflows/rag-runner.yml
Labels: devops

more uv run stuff, split venv from pytest
  .github/workflows/rag-runner.yml
Labels: devops

Update rag-runner.yml
  .github/workflows/rag-runner.yml
Labels: devops

Create validate-actions.yml
  .github/workflows/validate-actions.yml
Labels: devops

Update validate-actions.yml
  .github/workflows/validate-actions.yml
Labels: devops

Update validate-actions.yml
  .github/workflows/validate-actions.yml
Labels: devops

Update validate-actions.yml
  .github/workflows/validate-actions.yml
Labels: devops

Update validate-actions.yml
  .github/workflows/validate-actions.yml
Labels: devops

Update validate-actions.yml
  .github/workflows/validate-actions.yml
Labels: devops

Create codespell.yml
  .github/workflows/spelling/codespell.yml
Labels: devops

Create validate-bash.yml
  .github/workflows/bash/validate-bash.yml
Labels: devops

Create scan_repo.yml
  .github/workflows/security/scan_repo.yml
Labels: devops

Rename scan_repo.yml to scan-repo.yml
  .github/workflows/security/scan-repo.yml
Labels: devops

Create scan-repo.yml
  .github/workflows/scan-repo.yml
Labels: devops

Delete .github/workflows/security/scan-repo.yml
  .github/workflows/security/scan-repo.yml
Labels: devops

Update on-pull-request-target.yml
  .github/workflows/on-pull-request-target.yml
Labels: devops

Create actions-usage.yml
  .github/workflows/actions-usage.yml
Labels: devops

Update actions-usage.yml
  .github/workflows/actions-usage.yml
Labels: devops

Update actions-usage.yml
  .github/workflows/actions-usage.yml
Labels: devops

Update actions-usage.yml
  .github/workflows/actions-usage.yml
Labels: devops

Update actions-usage.yml
  .github/workflows/actions-usage.yml
Labels: devops

Create generate-license.yml
  .github/workflows/setup/generate-license.yml
Labels: devops

emojis, move workflows
  .github/workflows/codespell.yml
  .github/workflows/dependabot_automerge.yml
  .github/workflows/dependabot_pr.yml
  .github/workflows/generate-license.yml
  .github/workflows/rag-runner.yml
  .github/workflows/ruff-bot.yml
  .github/workflows/scan-repo.yml
  .github/workflows/validate-bash.yml
  README.md
Labels: repo, devops

emoji
  .github/workflows/codespell.yml
  .github/workflows/dependabot_automerge.yml
  .github/workflows/dependabot_pr.yml
  .github/workflows/download-url.yml
  .github/workflows/esm-script-runner.yml
  .github/workflows/rag-runner.yml
  .github/workflows/ruff-bot.yml
  .github/workflows/scan-repo.yml
Labels: devops

Create gh-runner-check.yml
  .github/workflows/gh-runner-check.yml
Labels: devops

Update dependabot_automerge.yml
  .github/workflows/dependabot_automerge.yml
Labels: devops

Rename dependabot_automerge.yml to dependabot-automerge.yml
  .github/workflows/dependabot-automerge.yml
Labels: devops

Create devcontainer.json
  .devcontainer/devcontainer.json
Labels: none

Update README.md
  README.md
Labels: repo

Update README.md
  README.md
Labels: repo

Create stale-repos.yml
  .github/workflows/stale-repos.yml
Labels: devops

Update stale-repos.yml
  .github/workflows/stale-repos.yml
Labels: devops

Update stale-repos.yml
  .github/workflows/stale-repos.yml
Labels: devops

Update env-vars-example.yml
  .github/workflows/env-vars-example.yml
Labels: devops

Update env-vars-example.yml
  .github/workflows/env-vars-example.yml
Labels: devops

Update env-vars-example.yml
  .github/workflows/env-vars-example.yml
Labels: devops

Update env-vars-example.yml
  .github/workflows/env-vars-example.yml
Labels: devops

Create manual.yml
  .github/workflows/manual.yml
Labels: devops

Update and rename manual.yml to label-issues.yml
  .github/workflows/label-issues.yml
  .github/workflows/manual.yml
Labels: devops
