Repository asears/thething, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, devops, tests, docs

.github/labeler.yml:

# GitHub Labeler Action Config

repo:
- '*'

'devops':
- .github/**

tests:
- tests/**

docs:
- tests/**

email
  .github/workflows/ruff-bot.yml
Labels: devops

move poetry
  .github/workflows/test-ci.yml
Labels: devops

syntax
  .github/workflows/test-ci.yml
Labels: devops

pyproject toml fix unclosed array
  .github/workflows/test-ci.yml
  pyproject.toml
Labels: repo, devops

need a toml validator
  pyproject.toml
Labels: repo

lint the toml with ruff
  pyproject.toml
Labels: repo

poetry updates
  .github/workflows/test-ci.yml
  README.md
  pyproject.toml
  tasks.py
Labels: repo, devops

duplicate entries in pyproject results in a poetry error Cannot overwrite a value (at line 12, column 21).
  README.md
  pyproject.toml
Labels: repo

poetry doesn't like the version constraint format
  pyproject.toml
Labels: repo

update version
  .github/workflows/test-ci.yml
  TODO.md
Labels: repo, devops

docs
  README.md
Labels: repo

poetry does not like the hosted runner's python 3.10.12 version when specifying a version of python.
  .github/workflows/test-ci.yml
Labels: devops

Create learn-github-actions.yml
  .github/workflows/learn-github-actions.yml
Labels: devops

Update ruff-bot.yml
  .github/workflows/ruff-bot.yml
Labels: devops

Update README.md
  README.md
Labels: repo

add rag details, uv
  README.md
Labels: repo

Update download-url.yml
  .github/workflows/download-url.yml
Labels: devops

Update esm-script-runner.yml
  .github/workflows/esm-script-runner.yml
Labels: devops

Update npm-script-runner.yml
  .github/workflows/npm-script-runner.yml
Labels: devops

Create rag-runner.yml
  .github/workflows/rag-runner.yml
Labels: devops

caching options placeholders, install project dependencies.
  .github/workflows/rag-runner.yml
Labels: devops

add venv, split up the lines using > in the action
  .github/workflows/rag-runner.yml
Labels: devops

Update rag-runner.yml
  .github/workflows/rag-runner.yml
Labels: devops

Update pyproject.toml
  pyproject.toml
Labels: repo

checkout the repo
  .github/workflows/rag-runner.yml
Labels: devops

uv run, checkout files
  .github/workflows/rag-runner.yml
Labels: devops

add a linter
  .github/workflows/rag-runner.yml
Labels: devops

checkout specific files, placeholder another repo for checkout.
  .github/workflows/rag-runner.yml
Labels: devops

testing behavior of continue on error for jobs and steps
  .github/workflows/rag-runner.yml
Labels: devops

Update rag-runner.yml
  .github/workflows/rag-runner.yml
Labels: devops

Update rag-runner.yml
  .github/workflows/rag-runner.yml
Labels: devops

Update rag-runner.yml
  .github/workflows/rag-runner.yml
Labels: devops

Update rag-runner.yml
  .github/workflows/rag-runner.yml
Labels: devops

dependabot
  README.md
Labels: repo

Create dependabot.yml
  .github/dependabot.yml
Labels: devops

Update dependabot.yml
  .github/dependabot.yml
Labels: devops

Create dependabot_pr.yml
  .github/workflows/dependabot/dependabot_pr.yml
Labels: devops

Create dependabot_automerge.yml
  .github/workflows/dependabot/dependabot_automerge.yml
Labels: devops

naming jobs
  .github/workflows/rag-runner.yml
Labels: devops

Update rag-runner.yml
  .github/workflows/rag-runner.yml
Labels: devops
